.custom-shape-divider-top-1663164893 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1663164893 svg {
    position: relative;
    display: block;
    width: calc(113% + 1.3px);
    height: 208px;
}
