/* Importing carousel */
@import "~react-image-gallery/styles/css/image-gallery.css";


.text-purple {
	color: purple;
}

.bg-purple {
	background-color: rgb(78, 3, 78);
}

.bg-purple-50 {
	background-color: rgba(71, 4, 71, 0.041);
}


.centered {
	position: fixed;
	bottom: 30px;
	right:0;
	margin: 30px;
}

.over {
	opacity: 0;
	transition: all 2s;
}

.over:hover {
	opacity: 1;
	animation: floatOut 0.3s ease-in 0.1s reverse;
	background-color: rgba(128, 0, 128, 0.452);
	box-shadow: black, blue, green, yellow;
}

/* animations */
@keyframes floatOut {
	0% {
		transform: translateZ(-2px);
	}

	25% {
		transform: translateZ(-5px);
	}

	50% {
		transform: translateZ(-7px);
	}

	75% {
		transform: translateZ(-9px);
	}

	100% {
		transform: translateZ(-11px);
	}
}

@keyframes floatUp {
	0% {
		transform: translateY(-2px);
	}

	25% {
		transform: translateY(-5px);
	}

	50% {
		transform: translateY(-7px);
	}

	75% {
		transform: translateY(-9px);
	}

	100% {
		transform: translateY(-11px);
	}
}

@keyframes floatIn {
	0% {
		transform: scale(1.01);
	}

	25% {
		transform: scale(1.02);
	}

	50% {
		transform: scale(1.03);
	}

	75% {
		transform: scale(1.04);
		;
	}

	100% {
		transform: scale(1.05);
	}
}
::-webkit-scrollbar {
    display: none;
}